{% extends 'customer/base.html' %}

{% block content %}
<div  class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod, turpis ac iaculis cursus, leo augue commodo augue, eget vulputate ante quam et ligula. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc ligula velit, porttitor non augue et, euismod facilisis massa. Praesent augue massa, porttitor placerat iaculis ac, mattis semper purus. Nam elementum erat sit amet nisi feugiat, at facilisis eros porta. Fusce ac pretium mi. Duis commodo quam non volutpat feugiat. Nullam dolor mi, interdum quis dolor et, scelerisque euismod mi. Nulla posuere dui nec pellentesque maximus. Vivamus odio quam, pellentesque sed ante ac, blandit sodales libero. Nulla porttitor, orci vitae fermentum egestas, sem nulla tincidunt massa, quis consequat lectus nisi vel nulla.
            </p>
            <p>Sed sed augue et tortor sollicitudin tincidunt at efficitur nisi. Vivamus ac commodo sapien, quis consequat ex. Duis luctus felis ac augue dapibus, vitae faucibus odio gravida. Maecenas finibus pellentesque urna eu hendrerit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras id ante id leo blandit ullamcorper. Maecenas efficitur nisl eu nulla dapibus, sit amet mollis risus commodo. Pellentesque sed dui ut enim mollis aliquet. Aenean placerat sit amet tortor eu hendrerit. Vivamus elementum lorem neque, nec molestie metus tincidunt sit amet. Etiam volutpat id felis ac interdum. In urna ligula, tincidunt sit amet vulputate sed, elementum id elit. Proin vel ex arcu. Aliquam erat volutpat.</p>
        </div>
    </div>
</div>
{% endblock content %}